*,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --__dateWidth: calc(100% / 7);
  --__dateNumHeight: calc(100% / 4);
  --__itemWidth: calc(100% + 2px);
  --__scheduledItemHeigth: 17px;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
}

button {
  background-color: transparent;
  border: none;
}

/* UI 크기 확인 위한 test용 클래스 */
.test {
  border: solid 1px white;
}
